.navbar {
    background-color: #333;
    padding: 10px 20px;
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    font-family: 'Bebas Neue', display;
    font-size: 25px;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: orange;
  }

  h1 {
    font-family: 'Bebas Neue', display;
    font-size: 36px
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.social-links,
.footer-links {
    list-style-type: none;
    padding: 0;
}

.social-links li,
.footer-links li {
    display: inline;
    margin-right: 15px;
    font-family: Beb;
}

.social-links li a,
.footer-links li a {
    color: #fff;
    text-decoration: none;
}

.social-links li a:hover,
.footer-links li a:hover {
    text-decoration: underline;
}
#rendelesfej {
  text-align: center;
  font-size: 60px;
}
.rendeleselem{
  transition: 0.3s ease;
}
.rendeleselem:hover {
  transform: scale(1.05);
}
.rendeleselemar{
  font-family: 'Bebas Neue', display;
  font-size: 30px;
}
#oldalpanel{
  position: relative;
  top: 0px;
  margin-left: 100px;
  width: 150px;
  height: 100%;
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: white;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 1000;
}

#overlay {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 999;
}

.popup-options label {
  display: block;
  margin: 5px 0;
}

.popup-buttons {
  margin-top: 10px;
}